- if current_user.nil?
  .hero-unit
    %h2 Sign in to access your balance
- else
  .row
    .span12
      .coffee-buttons
        - if params[:caffinated]
          = link_to 'Caffination Success', root_url, class: 'btn btn-success'
        - else
          = link_to 'Caffinate!', caffinate_path, class: 'btn btn-primary'
        / = form_for @transaction do |f|
        /   / = f.hidden_field :caffinate, value: true
        /   = f.hidden_field :name, value: 'Coffee'
        /   = f.hidden_field :amount, value: -0.5
        /   = f.submit 'Caffinate!', class: 'btn btn-primary'
  .row
    .span6.clearfix
      %h3 Available Coffee
      - current_user.cups.times do |i|
        .pull-left.cup{style:"max-width:50px; margin: 5px;"}= image_tag 'coffee-cup.svg'
    .span6.clearfix
      %h3 
        Drank this week
        %small= "#{@start_date.strftime('%D')} - #{@end_date.strftime('%D')}"
      - @drank_this_week.count.times do |i|
        .pull-left.cup{style:"max-width:50px; margin: 5px;"}= image_tag 'coffee-cup.svg'